* {
    padding: 0;
    margin: 0;
}

.nav-bar {
    position: relative;
}

.nav-bar img {
    float: left;
    height: 40px;
    margin: 13px 15px;
}

.right-menu {
    text-align: right;
    margin-right: 40px;
    padding: 12px 4px;
}

span {
    display: none;
    margin: 3px 2px;
    padding: 9px 3px;
    cursor: pointer;
    color: white;

}
#menu{
    position: relative;
}
a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
}

.list input {
    padding: 8px 8px;
    margin-left: 45px;
    font-size: 14px;
    font-family: sans-serif;
    border: none;
    border: 1px solid #ff2e2e;
    border-radius: 3px;
}

.list button {
    padding: 8px 11px;
    cursor: pointer;
    background-color: rgb(151, 130, 130);
    color: #fffdfd;
    margin: 3px 6px;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #ff2e2e;
    border-radius: 4px;
}

ul li {
    display: inline-block;
    margin: 6px 4px;
    padding: 7px 5px;
    list-style-type: none;
}

@media only screen and (max-width: 1100px) {
    span {
        display: block;
    }

    ul li {
        display: block;
    }

    ul {
        display: none;
    }
}

/* container-home */
.home {
    /* background-color: rebeccapurple; */
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;

}

.home-logo img {
    width: 220px;
}

.info {
    padding: 14px 20px;
    margin: 20px 25px;
}

.h-pramery {
    margin: 12px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: white;
}

/* image home container */

.center {
    width: 950px;
    display: block;
    margin: auto;
}

.container::before {
    content: " ";
    position: absolute;
    background: url('/background/bg.jpg') no-repeat center center/cover;
    height: 450px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.90;
    z-index: -1;
}

/* services other */

.other {
    display: flex;
    justify-content: space-between;
    justify-items: center;

}

.h-secondery {
    text-align: center;
    font-size: 2.5rem;
    font-family: sans-serif;
    padding: 10px 9px;
    margin: 9px 2px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.deve {
    text-align: center;
    font-size: 2.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 7px 9px;
    margin: 8px 2px;
}

.other-logo img {
    width: 430px;
    margin-top: 13px;
    border-radius: 40px;
}

.other-paragraph .text {
    width: 361px;
    padding: 2px 35px;
    text-align: center;
    font-size: 17px;
}

/* computer tech technology */

.services {
    display: flex;
    /* height: 450px; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.btn-sr {
    display: block;
    width: 110px;
    margin: 7px auto;
}

.btn-sr button {
    /* background-color: #000; */
    text-decoration: underline;
    padding: 11px 10px;
    cursor: pointer;
    margin: 3px 2px;
    background-color: white;
    border: 1px solid #841919;
    color: #ec0b0b;
    border-radius: 11px;
    font-family: sans-serif;
    /* font-size: 1px; */
}

.box {

    border-radius: 12px;
    background-color: #000;
    border: 1px solid black;
    padding: 23px 23px;
    margin: 12px 8px;
}

.pramery {
    text-align: center;
    color: white;
    padding: 12px 3px;
    font-size: 19px;
    font-family: sans-serif;
}

.logo-services img {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

/* footer */
.footer{
    padding: 12px 3px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 12px 4px;
}
.main{
    display: flex;
    justify-content: space-around;
}

.main li{
    list-style: none;
    margin: 3px 4px;
    padding: 4px 5px;
    font-size: 18px;
}
h4{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}